@import "variable.css";

/*hidden to show upon intersect or something*/
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card:nth-child(1) {
  transition-delay: 0ms;
}

.card:nth-child(2) {
  transition-delay: 200ms;
}
.card:nth-child(3) {
  transition-delay: 400ms;
}
.card:nth-child(4) {
  transition-delay: 600ms;
}

.content:nth-child(1) {
  transition-delay: 0ms;
}

.content:nth-child(2) {
  transition-delay: 50ms;
}

.content:nth-child(3) {
  transition-delay: 100ms;
}

/*NAVVVVV BARRRRRRUH*/
.nav-bar {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
}

.section-hero {
  overflow: hidden;
  height: 1040px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 80px;
  background-color: var(--black40pers);
  z-index: 9999;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin: 30px 64px;
  align-items: center;
}

ul > li > a {
  font-size: 20px;
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--ivory);
  text-decoration: none;
  position: relative;
}

ul > li > a::after {
  content: "";
  position: absolute;
  background-color: var(--main-red);
  height: 3px;
  width: 0px;
  left: 0;
  bottom: -1px;
  transition: 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.red-taglogo {
  margin-bottom: -35px;
  margin-top: 0;
  padding-left: 40px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

/*cta button*/
.hero > .buttoncta {
  margin-left: 43%;
}

.hero > .buttoncta .getintouch {
  z-index: 9990;
  position: absolute;
  margin-top: 35%;
}

.getintouch {
  text-decoration: none;
  background-color: var(--black40pers);
  border-style: none;
  padding: 15px 35px;
  transition: ease 0.3s;
}
.getintouch > h2 {
  font-size: 24px;
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--ivory);
}

.getintouch:hover {
  background-color: var(--main-red);
}

/*PARALLLAAAXZZZZZ*/

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

.hero {
  height: 100vh;
}

.parallax_group {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax_layer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.image-1 {
  background: url("/ASSETS/FOTOLAIN/paralax\ background.webp") no-repeat center;
  background-size: cover;
  z-index: 1;
}

.image-2 {
  background: url("/ASSETS/Asset\ 26logo\ ndalems\ packaging\ 2.png") no-repeat
    center;
  background-size: contain;
  z-index: 2;
  scale: 0.4;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
  margin-bottom: 10%;
  overflow: visible;
}

.image-3 {
  background: url("/ASSETS/FOTOLAIN/paralax\ depan.webp") no-repeat center;
  background-size: cover;
  z-index: 3;
  filter: drop-shadow(0px -8px 16px rgba(0, 0, 0, 0.5));
}

.about-us {
  text-align: center;
  margin: 80px 160px;
}

.about-us > h1 {
  font-size: 40px;
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  margin: 20px;
}

.vertical {
  height: 100px;
  width: auto;
  margin: 20px;
}

.about-us > p {
  font-size: 18px;
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  margin: 20px;
}

.horizontal {
  height: 2px;
  width: 120px;
  margin: 20px;
}

/*CATEGORRYYYY-----------------------------*/

/*to-do buat product card
1. div bagi 4
2. space arpund
3. padding side 64px
4. make card, product on top, position absolute,  zindex-5, h2, p, hover*/

.categorytitle {
  font-size: 40px;
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.product-category {
  height: 60vh;
  overflow: hidden;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 30px 90px;
  gap: 16px;
}

.card {
  height: 260px;
  max-width: 240px;
  width: 100%;
  background-color: var(--creme);
  border-radius: 20px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
  transition: height 0.5s, transform 0.5s, all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .imgP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
  width: 50%;

  transform: scale(110%);
  padding-bottom: 20px;
}

.imgP img {
  max-width: 100%;
  max-height: 200px;
}

.card:hover {
  background-color: #b93424;
  height: 310px;
  min-height: fit-content;
  transition: all 0.5s ease;
  transform: translateY(-20px);
  bottom: 0px;
}

.card:hover .imgP {
  transform: translate(-10px, -20px) rotate(-2deg) scale(110%);
}

.card .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 0;
  transition: all 0.5s ease;
}

.card .card-content h2.card-title {
  font-size: 30px;
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--dark-red);
}

.card .card-content p,
.card .card-content a {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, height 0.5s ease;
  width: 80%;
  text-align: center;
  font-family: "Marcellus SC", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-red);
  padding-bottom: 20px;
}

.card .card-content a {
  position: absolute;
  bottom: -20px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  background-color: var(--creme);
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-red);
}

.card:hover .card-content h2.card-title,
.card:hover .card-content p {
  color: var(--ivory);
  transform: translateY(-15px);
}

.card:hover .card-content p,
.card:hover .card-content a {
  max-height: 100px; /* Ensure this is large enough to cover the content */
  opacity: 1;
  height: auto;
}

.card:hover .card-content {
  padding: 1px 0 1px 0; /* Adjusted to have a consistent padding */
}

/*QUALITIESS----------------------------*/

.qualities {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 320%;
  margin-top: 80px;
  background-color: var(--black);
}

.qualities > .content {
  padding: 64px;
  text-align: left;
}

.qualities > .content > h2 {
  font-family: "Marcellus SC", serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  color: var(--ivory);
  padding-top: 40%;
  align-items: baseline;
  transition: ease 0.3s;
}

.qualities > .content:hover > h2 {
  font-family: "Marcellus SC", serif;
  font-size: 33px;
  font-weight: 400;
  font-style: normal;
  color: var(--ivory);
  padding-top: 35%;
  align-items: baseline;
}

.qualities > .content > img {
  transform: scale(80%);
}

.premium {
  background-image: url(/ASSETS/FOTOLAIN/premium.png);
  width: 33.3%;
}

.jogja {
  background-image: url(/ASSETS/FOTOLAIN/jogja-store.png);
  width: 33.3%;
}

.local {
  background-image: url(/ASSETS/FOTOLAIN/ingredients.png);
  width: 33.3%;
}

/*BLLOOGGGS----------------------------*/

.blog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0px;
}

.swiper {
  width: 1189px;
  height: 412.85px;
  display: flex;
  justify-content: center;
  float: left;
  border-radius: 10px;
}

.swiper img {
  justify-content: center;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--ivory);
  transform: scale(70%);
}

.swiper .swiper-pagination-bullet-active {
  background: var(--dark-red);
}

.swiper .swiper-pagination-bullet-nonactive {
  background: white;
}

/*REVIWWS----------------------------*/

.review {
  margin: 0px 80px;
  justify-content: center;
  padding-bottom: 100px;
}

.title {
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  margin-top: 0px;
  text-align: center;
}

.review-boxes {
  display: flex;
  flex-direction: row;
  margin: 24px;
  padding-top: 32px;
  gap: 32px;
  justify-content: space-around;
}

.review-1,
.review-2 {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  gap: 24px;

  padding: 24px;
  background-color: white;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  border-width: 2px;
  transition: ease 0.3s;
}

.review-1:hover,
.review-2:hover {
  background-color: rgb(250, 250, 250);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.3));
}

.review-boxes h2 {
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  margin-top: 8px;
  font-size: 32px;
}

.review-boxes p {
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
  margin-top: 8px;
  font-size: 18px;
}

/*Footer---------------------------*/

.footer-atas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--creme);
}

.pa {
  display: flex;
  flex-direction: row;
  padding: 40px 80px;
  gap: 48px;
}

.footer-atas h3 {
  font-family: "Marcellus SC", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--main-red);
  margin-top: 8px;
  font-size: 20px;
}

.footer-atas p {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-red);
  margin-top: 16px;
  font-size: 16px;
}

.part-3 {
  display: flex;
  flex-direction: column;
}
.part-3 > p {
  padding-bottom: 6px;
}

.part-3 > input {
  position: relative;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 20px;
  border-color: #b93424;
  border-style: solid;
  border-width: 1px;
  justify-content: flex-start;

  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: #b9342480;
  font-size: 14px;

  margin-top: 4px;
  transition: ease 0.3s;
}

.part-3 > a:hover {
  color: #b93424;
}

.part-3 > button {
  margin-top: 4px;
  border-style: none;
  background-color: var(--main-red);
  border-radius: 20px;
  padding: 5px 20px;
  width: fit-content;
  margin-left: 61%;

  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--ivory);
  font-size: 14px;
}

.part-4 {
  left: 30%;
}

.pb {
  padding: 40px 80px;
}

.footerbawah {
  display: flex;
  flex-direction: row;
  background-color: var(--green);
  padding: 40px 80px;
  gap: 54px;
}

.part1 h3,
.part2 h3 {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--ivory);
  margin-top: 8px;
  font-size: 20px;
  padding-bottom: 16px;
}

.part1 p,
.part2 p {
  font-family: "Marcellus SC", serif;
  font-weight: lighter;
  font-style: normal;
  color: var(--ivory);
  margin-top: 8px;
  font-size: 16px;
  padding-bottom: 16px;
}
