@import "variable.css";

/*NAVVVVV BARRRRRRUH*/
.nav-bar{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;

}

.section-hero{
    overflow: hidden;
    height: 1040px;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 80px;
    background-color: var(--black40pers);
    z-index: 9999;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 30px;
    margin: 30px 64px;
    align-items: center;
}

ul>li>a {
    font-size: 20px;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--ivory);
    text-decoration: none;
    position: relative;
}

/* a::after{
    content: '';
    position: absolute;
    background-color: var(--light-red);
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -1px;
    transition: 0.5s ease;
} */

a:hover::after{
    width: 100%;
}

.red-taglogo{
    margin-bottom: -35px;
    margin-top: 0;
    padding-left: 40px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.40));
}

/*PARALLLAAAXZZZZZ*/

* {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
    max-width: 100vw;
  }

  .hero {
    height: 100vh;
  }

  .parallax_group {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parallax_layer {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .image-1 {
    background: url("/ASSETS/FOTOLAIN/paralax\ background.webp") no-repeat center;
    background-size: cover;
    z-index: 1;
  }

  .image-2 {
    background: url("/ASSETS/Asset\ 26logo\ ndalems\ packaging\ 2.png") no-repeat center;
    background-size: contain;
    z-index: 2;
    scale: 0.4;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
    margin-bottom: 10%;
    overflow: visible;
  }

  .image-3 {
    background: url("/ASSETS/FOTOLAIN/paralax\ depan.webp") no-repeat center;
    background-size: cover;
    z-index: 3;
    filter: drop-shadow(0px -8px 16px rgba(0, 0, 0, 0.5));
  }

  .about-us {
    text-align: center;
    margin: 80px 160px;
  }

  .about-us>h1{
    font-size: 40px;
    font-family: "Marcellus SC", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
    margin: 20px;
  }

  .vertical {
    height: 100px;
    width: auto;
    margin: 20px;
  }

  .about-us>p{
    font-size: 18px;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
    margin: 20px;
  }

  .horizontal {
    height: 2px;
    width: 120px;
    margin: 20px;
  }

  /*CATEGORRYYYY-----------------------------*/

/*to-do buat product card
1. div bagi 4
2. space arpund
3. padding side 64px
4. make card, product on top, position absolute,  zindex-5, h2, p, hover*/

.product-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  padding: 50px 90px;
  gap: 32px;
  flex-wrap: wrap;
}


/* Card section */


.card {
  min-height: 280px;
  height: 100%;
  max-width: 240px;
  width: 100%;
  background-color: var(--creme);
  border-radius: 20px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
  transition: height 0.5s, transform 0.5s, all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .imgP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
  width: 50%;
}

.imgP img {
  max-width: 100%;
  max-height: fit-content;
}

.card:hover {
  background-color: #B93424;
  min-height: fit-content;
  transition: all 0.5s ease;
}

.card:hover .imgP {
  transform: translate(-10px, -20px) rotate(-2deg) scale(110%);
}

.card .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 0;
  transition: all 0.5s ease; /* Added padding transition */
}

.card .card-content h2.card-title {
  font-size: 30px;
  font-family: "Marcellus SC", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--dark-red);
}

.card .card-content p,
.card .card-content a {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, height 0.5s ease;
  width: 80%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-red);
  padding-bottom: 20px;
}

.card .card-content a {
  position: absolute;
  bottom: -20px;
  padding: 10px 32px;
  max-width: fit-content;
  text-decoration: none;
  background-color: var(--creme);
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-red);
}

.card:hover .card-content h2.card-title,
.card:hover .card-content p {
  color: var(--ivory);
}

.card:hover .card-content p,
.card:hover .card-content a {
  max-height: 100px; /* Ensure this is large enough to cover the content */
  opacity: 1;
  height: auto;
}

.card:hover .card-content {
  padding: 8px 0 8px 0; /* Adjusted to have a consistent padding */
}
