@import "variable.css";

body{
    overflow-x: hidden;
}
/*nav bar*/
header{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;

}

.section-hero{
    overflow: hidden;
    height: 1040px;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 80px;
    background-color: var(--black40pers);
    z-index: 9999;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 30px;
    margin: 30px;
    align-items: center;
}

ul>li>a {
    font-size: 20px;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--ivory);
    text-decoration: none;
    position: relative;
}

a::after{
    content: '';
    position: absolute;
    background-color: var(--light-red);
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -1px;
    transition: 0.5s ease;
}

a:hover::after{
    width: 100%;
}

.red-taglogo{
    margin-bottom: -35px;
    margin-top: 0;
    padding-left: 20px;
}

/*hero section*/

.hero{
    position: relative;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100%;
}

.section-hero>button{
    top: 450px;
    position: relative;
    z-index: 9998;
    left: 485px;
    background-color: var(--black40pers);
    border: 0;
    padding: 15px 30px;

    font-size: 20px;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--ivory);
    transition: 0.3s ease;
}

.section-hero>button:hover {
    background-color: var(--main-red);
    transition: 0.3s ease;
}

.imagestack{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

}

.imagestack>img{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}
.imagestack>img:nth-child(2){
    top: 400px;
    left: 50%;
    transform: translate(-50%, -93%) scale(75%);
    max-width: 100%;
    height: auto;
    position: fixed;
}

/*about us*/

.about-us{
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    text-align: center;
}

.about-us>h1{
    font-size: 48px;
    font-family: "Marcellus SC", serif;
    font-weight:400;
    font-style: normal;
    color: var(--black);
    margin: 8;
}


.about-us>p{
    font-size: 18px;
    font-family: "Marcellus SC", serif;
    font-weight: 300;
    font-style: normal;
    color: var(--black);
    margin-top: 30px;
}

.about-us>.line1{
    margin: 30px;
}

/*Category*/

.category{
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.category>.h1category{
    font-size: 48px;
    font-family: "Marcellus SC", serif;
    font-weight:400;
    font-style: normal;
    color: var(--black);
    margin: 8;
    margin-top: 20px;
}
