/*colours*/
:root {
    --main-red: #B93424;
    --dark-red: #861B0E;
    --light-red: #FB351E;
    --black: #1A1717;
    --black40pers: #1a171770;
    --green: #3D4128;
    --ivory: #FFFFF1;
    --creme: #E3D6C2;
    --white: #FFFFFF;
}

/*font*/
